<!DOCTYPE html>

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>LOGIN</h1>
    <form method="POST">
      <input type="text" placeholder="Username" name="name">
      <input type="password" placeholder="Password" name="password">
      <input type="hidden" name="form_type" value="sign_in">
      <input type="submit" value="Enter">
    </form>
    <p id="errortag">{{errorL}}</p>
    <br>
    <form method="POST">
      <input type="hidden" name="form_type" value="toLanding">
      <input type="submit" value="Go back to Landing Page">
    </form>
  </body>

</html>
