<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewing Page</title>
</head>
<body>
    <h1>{{title}}</h1>
    <form method="POST">
        <input type="hidden" name="form_type" value="toDashboard">
        <input type="submit" value="Return to Dashboard">
    </form>
    <form method="POST">
        <input type="hidden" name="form_type" value="toCollection">
        <input type="submit" value="Return to Collection">
    </form>
    {% if story %}
        {% if currentContributer %}
            {% for content in story %}
                <p>{{content[0]}}</p>
            {% endfor %}
        {% else %}
            <form method="POST">
                <input type="hidden" name="form_type" value="contribute">
                <input type="submit" value="Contribute">
            </form>
            <h2>Latest Version</h2>
            <h3>By {{author}}</h3>
            <p>{{latestVersion}}</p>
        {% endif %}
    {% else %}
        <p>You shouldn't see this</p>
    {% endif %}

</body>
</html>
